PyPDF2
python-docx
openpyxl
mammoth
PyMuPDF
python-pptx
patool
# pip install "pip<24.1" // Ejecutar esto para poder instalar textract
# pip install textract // Ejecutar esto para poder instalar textract
